@media screen and (max-width: 830px){
    /* .container, main{
        padding: 1%;
        margin: 1%;
    } */
    .header__inner, .header__desc{
        width: 100%;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1em;
        margin: 0;
        padding-bottom: 24px;

    }

    /* hr{
        display: none;
    } */

    body, html{
        font-size: 0.9em;
    }

    
}

/* @media screen and (max-width: 680px){
    
} */