@media screen and (max-width: 520px){
    .header__desc > h1{
        font-size: 2.0em;
        display: flex;
    }
    .container{
        width:100vw;
        padding: 0.2em;
        margin: 0;
    }

      
}    

@media screen and (max-width: 830px){
     .header__inner,
     .header__desc{
        width: 100%;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
        margin: 0;
        letter-spacing: 0;
        padding-bottom: 24px;

    }

    .container{
        /* width: 100%; */
        margin: 0;
    }

    body,
    html{
        font-size: 0.9em;
    }
}

