body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
/* general styles */

header,
article, 
div, 
section, 
main, 
.row{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

h1, 
h2, 
h3,   
p {
    margin: 0; 
    font-weight: nomal;
    line-height: 1.2;
  }

/* HEADER STYLES */

.container{
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    margin-top: 1%;
    padding: 0.5em;
}

.header__inner{
    width: 100%;
    padding-top: 1.2em; 
    display: flex;
    justify-content: space-between;
    
}

.header__desc{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: right;
    align-items: flex-end;
}

.header__logo{
    height: 140px;
    width: auto;

}

.header__title{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3d4144;
    font-size: 3.0em;
    letter-spacing: 0.1em;
}

hr{
    width: auto;
    border: 2px solid #7d97ad;
}

.header__text{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 700;
}

main img{
    /* box-sizing: border-box; */
    width: 100%;
    padding: 0 0.5%;
}

.section__title{
    padding: 1.2em 0;
    color: #7d97ad;
}

.col-lg-4{
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
}

.col-lg-4 > img{
    margin: 0;
    border: 2px solid #02b3e4;
    width: 100%;
}

.col-lg-4 > p{
    font-size: 1.8em;
    text-transform: uppercase;
}

p+a{
    padding: 24px 0;
    margin-top: 10px;
    font-size: 1.2em;
}

.col-lg-4 > img:last-of-type{
    margin-right: 0;
}

/* about_me section styles */

.about__me{
    width: 100%;
    background-color: #c7d9e9;
    margin-top: 2em;
    padding: 1.2em;
    
}

.about__desc > img{
    width: 200px; 
    height: auto;
    margin: 1.2em 0;
    border: 2px solid #02b3e4;
    border-radius: 50%;
}

.about__desc{
    width: 100%;
    padding: 2em;
    text-align: center;
    align-content: center;
}

.about__desc > h3{
    color: #02b3e4;
}